name: Code Coverage

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v6

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.4'

    - name: Install Dependencies
      run: composer install

    - name: Run Tests with Code Coverage
      run: composer test-coverage

    - name: Upload Code Coverage Results
      uses: actions/upload-artifact@v5
      with:
        name: coverage
        path: coverage
